@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;

  --shadow-brand-value:
    -82px 54px 27px 0px rgba(0, 0, 0, 0.01),
    -52px 35px 25px 0px rgba(0, 0, 0, 0.04),
    -29px 19px 21px 0px rgba(0, 0, 0, 0.15),
    -13px 9px 16px 0px rgba(0, 0, 0, 0.25), -3px 2px 9px 0px rgba(0, 0, 0, 0.29);

  --primary-foreground: lab(98.26% 0 0);
  --primary: lab(7.78201% -0.0000149012 0);
  --accent: lab(96.52% -0.0000298023 0.0000119209);
  --accent-foreground: lab(7.78201% -0.0000149012 0);
  --border: lab(90.952% 0 -0.0000119209);
  --input: lab(90.952% 0 -0.0000119209);
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --shadow-brand:
    -82px 54px 27px 0px rgba(255, 255, 255, 0.01),
    -52px 35px 25px 0px rgba(255, 255, 255, 0.04),
    -29px 19px 21px 0px rgba(255, 255, 255, 0.15),
    -13px 9px 16px 0px rgba(255, 255, 255, 0.25),
    -3px 2px 9px 0px rgba(255, 255, 255, 0.29);

  --primary: lab(90.952% 0 -0.0000119209);
  --primary-foreground: lab(7.78201% -0.0000149012 0);

  --accent: lab(15.204% 0 -0.00000596046);
  --accent-foreground: lab(98.26% 0 0);
  --border: lab(100% 0 0 / 0.1);
  --input: lab(100% 0 0 / 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --font-sans: var(--font-inter);
  --font-display: var(--font-manrope);
  /* --shadow-brand: var(--shadow-brand-value); */
  --shadow-brand:
    -82px 54px 27px 0px rgba(0, 0, 0, 0.01),
    -52px 35px 25px 0px rgba(0, 0, 0, 0.04),
    -29px 19px 21px 0px rgba(0, 0, 0, 0.15),
    -13px 9px 16px 0px rgba(0, 0, 0, 0.25), -3px 2px 9px 0px rgba(0, 0, 0, 0.29);
}

body {
  background: var(--background);
  color: var(--foreground);
}
